{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/lesson.css">

<title>Session</title>
	<meta charset="utf-8">
</head>
<body> 
<h1>Lesson 1 Notes From This Session</h1>
<div class="session">
 


<div class="question">
    <div class="question-title">Procedural Thinking 
    </div>
    <div class="answer">	- breaking into steps
<br>
Abstract Thinking - 1 + 1 = 2
<br><p>
Systematic Debugging - indentify problems, track down causes and solve
Systems Thinking - one big idea and break them down into smaller pieces
Technological Empathy</p>
   </div>
  </div> 
<br>
<br>

<div class="question">
    <div class="question-title">Unit 1
    </div>
    <div class="answer">
<ul>
<li>The basics of the Web</li>
<li>World Wide Web - www</li>
<li>Hyper Text Markup Language - HTML</li>
<li>Hyper Links</li>
<li>Invented in 1990's</li>
</ul>
your computer & browser  ---- the inernet  ---- HTTP  --- Servers
<br>
<br>
<ol>
<li>HTML - Hypertext Markup Language</li>
<li>Text content - what you see</li>
<li>Markup - what it looks like</li>
<li>References to the documents: e.g. images and videos</li>
<li>Links to other pages</li>
</ol>

Tages <name> content </name>
      (opening tag)  (closing tag)   an html tag is always contained with angled brackets

<b> contents </b>
<em> contents </em> - em - emphasis - italics
<br>
<br>

HTML attributes
<br>
&lt;TAG ATTR="value"&gt; contents &lt;/TAG&gt;
<br>
<br>
anchor = &lt;a&gt; are for making Links
<br>
&lt;a href="www.reddit.com"&gt; derp &lt;/a&gt;
  (attr name) value
<br>
<br>
Make the phrase my favorite a link to udacity.com
   </div>
  </div> 
<div class="question">
    <div class="question-title">IMAGES
    </div>
    <div class="answer">	
&lt;img&gt; - images
<br>
&lt;img src="url" alt="text"&gt;  no closing tag (VOID tag)

<img src="http://www.udacity.com/cs253x/hipmunk.png" alt="hipmunk!">
<br>
<br>
White space
<li>&lt;br&gt; break (void)</li>
<li>&lt;p&gt; paragraph &lt;/p&gt;</li>
<br>

INLINE                              BLOCK
<br>
&lt;br&gt;                                &lt;p&gt;
text &lt;br&gt; text                      &lt;p&gt; text &lt;/p&gt; text
<b><em><img><strong>  </b>              text  <span><form>


SPAN                               DIV
<span> class="foo">                <div class="bar">
text        css                     text
</span>                            </div>
(inline)                           (block)
<br>
<br>

<li>HTML controls the "structure" of a web page.</li>
<li>CSS controls the "style" of a page (how it looks)</li>
<li>"DOM: they are talking about the tree like structure of a page</li>
<br>
<br>


			HTML Documents
<br>

		&lt;!DOCTYPE HTML&gt; - doc type
<br>
		&lt;html&gt;
<br>
metadata
<br>
		&lt;head&gt;
<br>
java scripts		 &lt;title&gt; Title! &lt;/title&gt;
<br>
css
<br>
		&lt;/head&gt;
<br>

content	
	&lt;body&gt;
of doc 		
<br>&lt;b&gt; content &lt;/b&gt;
<br>
		&lt;/body&gt;
<br>
		&lt;/html&gt;
<br>
<br>
    </div>
   </div>
   <div class="question">
    <div class="question-title">Summary
    </div>
    <div class="answer">	
<p>Building a web page using html and css in order to display what you want others to see/view on the internet. This is done in combination with html and css. HTML uses the tags the markup in order for the computer to read. While css is the style of the web page, the way you want the web page to look, and be seen by others.</p>
  </div>
 </div> 

 {% endblock %}