{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/lesson.css">

	<title>Session</title>
	<meta charset="utf-8">
</head>
<body>  


<h1>Lesson 4 Notes From This Session</h1>
<div class="session">
  <div class="question">
    <div class="question-titile">The internet is what's called a network!
    </div>
      <div class="answer">
<p>
Network is a group of entities that can communcate, even though they are not all directly connected.  
At least 3 entities that are not directly connected</p>
<ul>
<li>need away to code message</li>
<li>need to be able to send</li>
<li>need a way to do routing</li>
<li>who gets to use the network</li>
</ul>
   </div>
  </div>
  <div class="question">
    <div class="question-title"> Measuring Network
    </div>
    <div class="answer">
        <p>
Latency - time is takes message to get from source to destination
measured in milliseconds - 1000 millseconds = 1 second
</p>
     </div>
    </div> 
    <div class="question">
    <div class="question-title">Bandwidth
    </div>
    <div class="answer">
<p>
Amount of information that can be transmitted per unit of time
measured bits per second - mpbs
</p>
<li>Bit - the smallest unit of information</li>


<li>Protocal - set of rules that tell how 2 entities can talk to each other</li>
<br>
<li>CLIENT -------HTTP--------------->SERVER</li>
<li>      <-----RESPONSE-CONTENTS OF <OBJECTS></li>
<br>
web-browser
GET&lt;object&gt;

<li>Way to encode and interpret messages</li>
<li>Internet: message -->bits--->electros</li>
<br>
<li>Way to route messages</li>
<li>Internet: routers figure out next hops &#40router table&#41</li>
<br>
<li>Rules for deciding who gets to use resources</li>
<li>Internet: best effort service - router decided what to do</li>
    </div>
   </div> 
<div class="question">
    <div class="question-title">IP address
    </div>
    <div class="answer">
    <p>
     An Internet Protocal address in a numerical label assigned to each device &#40e.g., computer printer&#41
participating in a computer network that uses the internet protocal for communication.  
A name indicates what we seek.
An address indicates where it is.
a route indicates how to get there.</p>
   </div>
  </div> 
   <div class="question">
    <div class="question-title">The URL 
    </div>
    <div class="answer">
      Is the human readable locator which resolves to a numerical IP address and represents - the location of the 
physical machine which has the document we  want to fetch.</p>
<br>
<li>URL - Uniform Resource Locator</li>

<li>http://www.udacity.com/cs232</li>
<li>protocol//host-ip address/path</li>
    </div>
   </div> 
   <div class="question">
    <div class="question-title">What is Cashing?  
    </div>
     <div class="answer">
<p>A cache &#40cash&#41 is something that stores data so that you don't have to retrieve it later.  Can be used to make data requests faster.
</p>
<br>
<b>URLs</b> 

<li>http://www.example.com/foo#fragment</li>
<p>
Fragment is separated by using the # sign, is use to reference part of page that you are looking at, but it is not sent to server, only in browser, fragment comes last
</p>
<br>

<li>http://localhost:8000/</li>
port - default = 80
   </div>
  </div>
<div class="question">
    <div class="question-title">HTTP - hyper text transfer protocol 
    </div>



http://www.example.com/foo<br>
GET/foo HTTP/1.9 - request line<br>

method /path/version - request line <br>
<br>
<b>GET</b><br>
The GET handler is what is used to retrieve and draws the form.<br>
<b>POST</b><br>
The POST function is what happens when you submit the URL, this form is based on the GET function, and make changes to the server.<br>
- sends data to the server<br>
<br>
GET /foo/logo.png?p=1 HTTP/1.1   - is the relative path for url<br>
<p>
You can tell if a link is relative if the path isn't a full website address, 
a full website address includes http://www.</p>


Relative Paths<br>
index.html<br>
/graphics/images.png<br>
/help/articles/how-do-i-set-up-a-webpage.html<br>

<br>
<br>
Absolute Paths<br>
http://www.mysite.com<br>
http://www.mysite.com/graphics/images.png<br>
<br>
<br>
HTTP Reuest<br>

GET/foo?p=1 HTTP/1.1    Header:<br>

host:www.examples.com<br>
user-agent:chrome &#40who is making the request&#41<br>
<br>
<br>
http Responses<br>

status line -  HTTP/1.1  200     ok
                       <p class="tab2">status  reason</p>
                       <p class="tab2">code    phrase</p>
	               <p class="tab2">300	found - located</p> 
			<p class="tab2">404 	not found - error on browser side</p>
			<p class="tab2">500 	server error - on server side</p>

<h3>Servers</h3>
The purpose of servers is to respond to HTTP requests. 
<br>
Client will make a request to the form to the server, a get request.
<br>
The server response with the form data.
<br>
The clent makes a post request to the server, with the data, the post form.
<br>
The server will run the validation functions. It will do one of two things to validate. If the data is good, it will say thanks. If the data or no data is bad, the server will respond with the form data again and with an error message to re-enter the data.


<h3>Validating Input</h3>
Validation is to improve your site's security. Validation verify on the server side is what you expect to receive... servers can receive junk, and you need to deal with it. Validation is an important element for checking what is being entered by the user, you can inform the user of incorrect input by issuing an error message, giving instructions of the problem and how to correct.  It can also check for hackers trying to access your system to do harm and corrupt your database/server/system (need to check for bad data inputs).
In order to validate the form requires three things:
<ol>1. Verify the user's input</ol>
<ol>2. On error, render form again</ol>
<ol>3. Include error message</ol>

<h3>HTML Templates and Abstraction</h3>
A template library is a library to build complicated strings (html)
<br>
<ol>Separate different types of code</ol>
<ol>Make more readable code</ol>
<ol>More Secure website &#40out in secure&#41</ol>
<ol>HTML that is easier to modify</ol>
<ol>Allows automatically escape variables when possible</ol>
<ol>Miminize code in templates</ol>
<ol>Minimize html in code &#40should be in the template&#41</ol>
<ol> Template Inheritance allows you to have one template that includes things that other templates have in comman, but will be coded in something like base.html.  Then by using &#123% extends "base.html" %&#125 and &#123% block content %&#125 and ending with &#123% endblock %&#125 in the other templates.  This allows you to inherit this code across the other templates avoiding repetition/duplication of code.</ol>




</body>
</html>

{% endblock %}